@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-holtwood: var(--font-holtwood);
  --font-roboto: var(--font-roboto);
}
@media (max-width: 640px) {
  html,
  body {
    max-height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior-y: contain;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
